# --- USER CONFIG ---
USER_ID=1000
GROUP_ID=1000
USERNAME=developer

#  --- Infrastructure ---
PROJECT_NAME=shop
DOCKER_RESTART_POLICY=no

# --- Nginx ---
NGINX_PORT=80

# --- Ngrok ---
NGROK_AUTHTOKEN=###COPY_HERE_YOU_NGROK_TOKEN###
NGROK_DOMAIN=###COPY_HERE_YOU_NGROK_URL###

# --- Postgres ---
DB_NAME=shop_db
DB_USER=admin
DB_PASSWORD=ApU7KBrJYBvN
DB_PORT=5432

# --- Api ---
API_PORT=8000
API_DEBUG=true
API_URL=http://localhost:${API_PORT}

# --- Image versions ---
PHP_VERSION=8.2
POSTGRES_VERSION=15-alpine
